<meta charset="UTF-8">
<title><%= title %></title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
	.jumbotron p{
		margin-bottom: 5px;
		font-size: 14px;
	}
	.invisibleclass{
		visibility: hidden;
	}

</style>
