<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<style>
.asteriskField{
	color: red;
}
</style>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron" style="text-align: center;">

			<h2>Stock Market Prediction</h2>
			<hr>
			<div class="container">
				<div class="marquee" data-marquee="Text contents"></div>
				<div class="row" >
					<div class="col-md-4">
						<a href="/articles" class="thumbnail">
							<h3>Step 1: <br>New York Times</h3>
							<img src="http://www.gai-mn.org/Resources/Pictures/icon-default-news.png" class="img-circle" alt="New York Times" width="200" height="200">
							<br/>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/ibmdata" class="thumbnail">
							<h3>Step 2: <br>IBM Bluemix</h3>
							<img src="http://plantsandmachines.github.io/images/landing-page/icon_intelligence.png" class="img-circle" alt="New York Times" width="200" height="200">
							<br/>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/finalresult" class="thumbnail">
							<h3>Step 3: <br>Result</h3>
							<img src="http://www.stoswaldsuk.org/media/22620/document-icon_200x200.jpg" class="img-circle" alt="New York Times" width="200" height="200">
							<br/>
						</a>
					</div>

				</div>
			</div>


		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
